.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(246,246,246,255);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    min-height: 100vh;
}

.no-topics {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}